.button {
  /*display: block;*/
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;/*если в каталоге жопа - поменять в промобатоне*/
  text-align: center;

  @include font();
  text-transform: uppercase;
  color: #ffffff;
  background-color: $green-color;

  &:focus,
  &:hover {
    background-color: $darkgreen-color;
  }

  &:active {
    color: $transwhite-color;
  }

  &--to-all {
    color: $grey-color;
    background-color: #f2f2f2;

    &:focus,
    &:hover {
      background-color: #ebebeb;
    }

    &:active {
      color: $transgrey-color;
    }
  }
}

/*@media (min-width: $tablet-width) {
  .button {
    font-size: 20px;
  }
}*/
