.catalog-extra {
  margin-bottom: 20px;
}

.catalog-extra__title {
  position: relative;
  margin: 0;
  padding-top: 29px;
  padding-bottom: 33px;
  width: 248px;
  background-color: #ffffff;

  @include font(24px, 24px);
  font-weight: 400;
  color: $darkgrey-color;
}

.catalog-extra__list {
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
  list-style: none;
  border-top: 1px solid #cdcdcd;
}

.catalog-extra__promo {
  position: relative;
  padding-top: 173px;
  padding-bottom: 45px;
  background: url("../img/gift-photo-mobile@1x.jpg") no-repeat 50% 0;

  &::after {
    position: absolute;
    content: "";
    top: 65px;
    left: 50%;
    transform: translateX(-50%);
    width: 56px;
    height: 60px;
    background: url("../img/icon-gift.svg") no-repeat;
  }
}

.catalog-extra__gift {
  padding: 0 55px;
  font-family: $ffas;

  @include font(16px, 19px);/*в макете auto!!*/
  text-align: center;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .catalog__extra {
    margin-bottom: 76px;
  }

  .catalog-extra__list {
    border: none;
    margin-bottom: 68px;
  }

  .catalog-extra__title {
    width: 420px;
    padding: 49px 37px;
    margin-bottom: 30px;

    @include font(36px, 36px);

    &::before {
      position: absolute;
      content: "";
      width: 100vw;
      height: 3px;
      top: 70px;
      left: 50%;
      margin-left: -50vw;
      background-color: $green-color;
      z-index: -1;
    }

    &::after {
      position: absolute;
      content: "";
      width: 100vw;
      height: 3px;
      top: 70px;
      right: 50%;
      margin-right: -50vw;
      background-color: $green-color;
      z-index: -1;
    }
  }

  .catalog-extra__promo {
    display: flex;
    align-items: center;
    padding: 0;
    padding-left: 423px;
    height: 200px;
    background: url("../img/gift-photo-mobile@1x.jpg") no-repeat 50% 0;
    /*не забыть сменить картинку!!*/
    background-color: $green-color;

    &::after {
      top: 66px;
      left: 119px;
    }
  }

  .catalog-extra__gift {
    padding-left: 0;
    padding-right: 105px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .catalog-extra {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 86px;
  }

  .catalog-extra__title {
    padding: 53px 0;
  }

  .catalog-extra__list {
    margin-right: 80px;
    margin-bottom: 0;
  }

  .catalog-extra__promo {
    width: 245px;
    height: 287px;
    flex-direction: column;
    padding: 171px 42px 0 42px;
    /*margin-bottom: 0;*/
    /*background: тут чо третья картинка??;*/

    &::after {
      top: 65px;
      left: 124px;
    }
  }

  .catalog-extra__gift {
    padding: 0;
    text-align: center;
  }
}
