.catalog-card {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  min-height: 185px;
}

.catalog-card__image img {
  display: block;
  width: 140px;
  height: 144px;
}

.catalog-card__group {
  width: 140px;
  display: flex;
  flex-direction: column;
  padding-top: 22px;
}

.catalog-card__title {
  padding-right: 55px;
  margin: 0;
  margin-bottom: 13px;

  @include font();
  font-weight: 400;
  text-transform: uppercase;
}

.catalog-card__link {
  color: $darkgrey-color;
}

.catalog-card__info {
  width: 140px;
  font-family: $ffas;
  border-collapse: collapse;

  @include font(12px, 16px);

  & tbody {
    display: flex;
    flex-wrap: wrap;
  }

  & tr {
    width: 100%;
  }

  & td {
    width: 70px;
    padding: 0;
  }
}

.catalog-card__value {
  text-align: right;
}

.catalog-card__button {
  margin-top: auto;
}

@media (min-width: $tablet-width) {
  .catalog-card {
    flex-direction: column;
    width: 324px;
    min-height: 553px;
    padding: 40px 39px;
    align-items: center;
    background-image: linear-gradient(to bottom, #ffffff 122px, $lightgrey-color 122px);
    background-repeat: no-repeat;
  }

  .catalog-card__image {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 324px;
    height: 208px;
    margin-bottom: 15px;
  }

  .catalog-card__image img {
    width: 100%;
    height: auto;
  }

  .catalog-card__title {
    font-size: 20px;
    text-align: center;
    padding: 0 55px;
    margin-bottom: 20px;
  }

  .catalog-card__group {
    width: 100%;
  }

  .catalog-card__info {
    width: 250px;
    font-size: 16px;

    & tr {
      width: 100%;
      border-bottom: 1px solid #cdcdcd;
    }

    & td {
      width: 125px;
      padding: 8px 0 7px 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .catalog-card {
    width: 245px;
    min-height: 553px;
    padding: 38px;
    padding-bottom: 40px;
  }

  .catalog-card__title {
    padding: 0 15px;
  }

  .catalog-card__image {
    width: 245px;
  }

  .catalog-card__info {
    width: 170px;
    font-size: 16px;

    & tr {
      width: 100%;
      border-bottom: 1px solid #cdcdcd;
    }

    & td {
      width: 85px;
      padding: 8px 0 7px 0;
    }
  }
}
