.catalog-extra {
  outline: 1px solid red; /*for me*/
}

.catalog-extra__title {
  position: relative;
  margin: 0;
  padding: 30px 0;
  width: 248px;
  background-color: #ffffff;

  @include font(24px, 24px);
  font-weight: 400;
  color: $darkgrey-color;
  outline: 1px solid green;/*for me*/

  /*&::after {
    position: absolute;
    content: "";
    width: 100vw;
    height: 3px;
    top: 50%;
    left: 50%;
    right: 50%;
    /*margin-left: -50vw;
    margin-right: -50vw;
    background-color: $green-color;
    z-index: -1;
  }*/
}

.catalog-extra__list {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: 1px solid cyan;/*for me*/
}

.catalog-extra__promo {
  position: relative;
  padding-top: 175px;
  background: url("../img/gift-photo-mobile@1x.jpg") no-repeat 50% 0;
  outline: 1px solid blue;/*for me*/

  &::after {
    position: absolute;
    content: "";
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 56px;
    height: 60px;
    background: url("../img/icon-gift.svg") no-repeat;
  }
}

.catalog-extra__gift {
  padding: 0 55px;
  font-family: $ffas;

  @include font();/*в макете auto!!*/
  text-align: center;
  color: #ffffff;
  outline: 1px solid cyan;/*for me*/
}

@media (min-width: $tablet-width) {
  .catalog-extra__title {
    width: 367px;
    padding: 55px 0;

    @include font(36px, 36px);

    /*&::after {
      margin-left: -50vw;
      margin-right: -50vw;
    }*/
  }

  .catalog-extra__promo {
    display: flex;
    align-items: center;
    padding: 0;
    padding-left: 423px;
    height: 200px;
    background-color: $green-color;

    &::after {
      top: 65px;
      left: 90px;
    }
  }

  .catalog-extra__gift {
    padding: 0 55px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .catalog-extra {
    display: flex;
    flex-wrap: wrap;
  }

  /*.catalog-extra__title {


  }*/

  .catalog-extra__list {
    width: 895px;
    flex-shrink: 0;
    margin-right: 40px;
  }

  .catalog-extra__promo {
    width: 245px;
    height: 287px;
    flex-direction: column;
    padding: 190px 42px 0 42px;
  }

  .catalog-extra__gift {
    padding: 0;
    text-align: center;
  }
}
