.catalog-extra {
  margin-bottom: 35px;
}

.catalog-extra__title {
  display: flex;
  position: relative;
  margin: 0;
  margin-right: -20px;
  padding-top: 29px;
  padding-bottom: 33px;
  /*background-color: #ffffff;*/

  @include font(24px, 24px);
  font-weight: 400;
  color: $darkgrey-color;

  &::after {
    display: block;
    content: "";
    min-width: 30px;
    height: 3px;
    flex-grow: 1;
    margin-top: 15px;
    margin-left: 20px;
    background-color: $green-color;
  }
}

.catalog-extra__list {
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
  list-style: none;
  border-top: 1px solid #cdcdcd;
}

.catalog-extra__promo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 280px;
  position: relative;
  padding-top: 172px;
  padding-bottom: 30px;
  background-color: $green-color;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }

  &::after {
    position: absolute;
    content: "";
    top: 65px;
    left: 50%;
    transform: translateX(-50%);
    width: 56px;
    height: 60px;
    background: url("../img/icon-gift.svg") no-repeat;
  }
}

.catalog-extra__gift {
  width: 170px;
  /*padding: 0 55px;*/
  font-family: $ffas;

  @include font(16px, 19px);
  text-align: center;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .catalog-extra {
    margin-bottom: 76px;
  }

  .catalog-extra__list {
    border: none;
    margin-bottom: 68px;
  }

  .catalog-extra__title {
    width: 420px;
    padding: 49px 37px;
    margin-bottom: 30px;

    @include font(36px, 36px);

    /*&::after {
      position: absolute;
      content: "";
      width: 100vw;
      height: 3px;
      top: 0;
      bottom: 0;
      margin: auto;
      background-color: $green-color;
      z-index: -1;
    }*/
  }

  .catalog-extra__promo {
    padding: 0;
    justify-content: flex-end;
    padding-right: 115px;
    height: 200px;

    background-image: url("../img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }

    &::after {
      top: 66px;
      left: 119px;
    }
  }

  .catalog-extra__gift {
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .catalog-extra {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 86px;
  }

  .catalog-extra__title {
    padding: 53px 0;
  }

  .catalog-extra__list {
    margin-right: 80px;
    margin-bottom: 0;
  }

  .catalog-extra__promo {
    min-width: 245px;
    height: 287px;
    flex-direction: column;
    padding: 171px 38px 30px 38px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }

    &::after {
      top: 65px;
      left: 124px;
    }
  }

  .catalog-extra__gift {
    width: 169px;
    text-align: center;
  }
}
