.categories__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.categories__item {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 32px 20px 0 20px;
  background-color: $lightgrey-color;

  &:first-child {
    margin-bottom: 20px;
  }

  &::before {
    position: absolute;
    top: 25px;
    left: 22px;
    width: 50px;
    height: 50px;
    content: "";
    background-color: $green-color;
    border-radius: 50%;
  }

  &::after {
    position: absolute;
    content: "";
  }

  &--slim {
    &::after {
      top: 22px;
      left: 30px;
      width: 35px;
      height: 49px;
      background: url("../img/icon-cat-slim.svg") no-repeat;
    }
  }

  &--pro {
    &::after {
      top: 35px;
      left: 13px;
      width: 67px;
      height: 28px;
      background: url("../img/icon-cat-pro.svg") no-repeat;
    }
  }
}

.categories__title {
  @include font(24px, 37px);
  margin: 0;
  margin-bottom: 28px;
  padding-left: 72px;
  font-weight: normal;
  text-transform: uppercase;
  color: $darkgrey-color;
}

.categories__text {
  margin: 0;
  margin-bottom: 23px;
  font-family: $ffas;

  @include font(14px, 18px);
}

.categories__button {
  margin-top: auto;
  padding-top: 20px;
  padding-bottom: 21px;
  border-top: 1px solid #d9d9d9;

  @include font(16px, 16px);
  text-transform: uppercase;
  color: $darkgrey-color;
}

.categories__button span {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-right: 45px;

  &::before {
    position: absolute;
    content: "";
    width: 24.4px;
    height: 11px;
    top: 3px;
    right: 9px;
    background: url("../img/icon-right-arrow.svg") no-repeat;
  }

  &:hover::before {
    width: 32.4px;
    right: 0;
    background: url("../img/icon-right-arrow-long.svg") no-repeat;
  }

  &:active {
    opacity: 0.3;
  }
}


@media (min-width: $tablet-width) {
  .categories__item {
    width: 708px;
    min-height: 372px;
    padding: 77px 0 41px 52px;

    &:first-child {
      margin-bottom: 30px;
    }

    &::before {
      left: auto;
      top: 92px;
      right: 62px;
      width: 200px;
      height: 200px;
    }

    &--slim {
      &::after {
        left: auto;
        top: 80px;
        right: 90px;
        width: 140px;
        height: 194px;
      }
    }

    &--pro {
      &::after {
        left: auto;
        top: 135px;
        right: 28px;
        width: 268px;
        height: 112px;
      }
    }
  }

  .categories__title {
    padding-left: 0;
    margin-bottom: 24px;

    @include font(36px, 37px);
  }

  .categories__text {
    @include font(16px, 24px);
    margin-right: 320px;
    width: 57%;
  }

  .categories__item--pro .categories__text {
    width: 52%;
  }

  .categories__button {
    @include font(20px, 20px);
    border: none;

    & span {
      padding-right: 57px;
    }
  }
}


@media (min-width: $desktop-width) {
  .categories__list {
    padding: 25px 0;
    flex-direction: row;
    justify-content: space-between;
  }

  .categories__item {
    width: 570px;
    padding-right: 40px;

    &:first-child {
      margin-bottom: 0;
    }

    &::before {
      top: 47px;
      left: 52px;
      width: 100px;
      height: 100px;
    }

    &--slim {
      &::after {
        top: 41px;
        left: 66px;
        width: 70px;
        height: 97px;
      }
    }

    &--pro {
      &::after {
        top: 69px;
        left: 34px;
        width: 134px;
        height: 68px;
      }
    }
  }

  .categories__title {
    padding-left: 162px;
    margin-bottom: 74px;
  }

  .categories__text {
    margin: 0;
    width: 100%;
  }

  .categories__item--pro .categories__text {
    width: 100%;
  }
}
