.categories__list {
  margin: 0;
  padding: 20px;
  list-style: none;
  border: 1px solid red;/*for me*/
}
.categories__item {
  padding: 20px;
  background-color: $lightgrey-color;
  border: 1px solid blue;/*for me*/
    &:first-child {
      margin-bottom: 20px;
  };
}
.categories__title {
  padding-left: 92px;
  font-weight: normal;
  text-transform: uppercase;
  color: $darkgrey-color;
  border: 1px solid green;/*for me*/
}
.categories__text {
  position: relative;
  font-family: $ffas;
  @include font(14px, 18px);
  border: 1px solid violet;/*for me*/
}
.categories__button {
  display: block;
  @include font(16px, 16px);
  text-transform: uppercase;
  color: $darkgrey-color;
  /*background-color: transparent;*/
  border: 1px solid cyan;/*for me*/
}
