.contacts__wrapper {
  display: flex;
  padding: 30px 0;
  align-items: center;
  border: 1px solid blue;/*for me*/

  &--index {
    background-color: #ffffff;
  }
}

.contacts__invite {
  margin: 0;
  /*margin-right: 13px;*/
  width: 140px;/*без этого омерзительно разъезжается*/

  @include font();
  text-transform: uppercase;
  border: 1px solid green;/*for me*/
}

.contacts__address {
  width: 140px;/*без этого омерзительно разъезжается*/
  margin: 0;
  margin-left: auto;
  font-family: $ffas;

  @include font(14px, 20px);
  color: $grey-color;
  border: 1px solid violet;/*for me*/

  span {
      display: table;
    }
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    padding: 65px 40px;
  }
  .contacts__invite {
    width: 160px;
    @include font(20px, 25px);
  }

  .contacts__address {
    span {
      padding-top: 25px;
    }
  }
}

@media (min-width: $tablet-width) and (max-width: 1299px) {
  .contacts__address {
    text-align: right;

    span {
      margin-left: auto;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts__wrapper {
    width: 570px;
    height: 195px;
    padding: 65px 75px;
  }
}
