.contacts__wrapper {
  display: flex;
  padding: 27px 0;
  align-items: center;

  &--index {
    background-color: #ffffff;
  }
}

.contacts__invite {
  margin: 0;
  width: 140px;

  @include font();
  text-transform: uppercase;
}

.contacts__address {
  width: 140px;
  margin: 0;
  margin-left: auto;
  font-family: $ffas;

  @include font(14px, 20px);
  color: $grey-color;

  span {
    display: table;
  }
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    padding: 60px 41px 58px 41px;
  }

  .contacts__invite {
    width: 160px;

    @include font(20px, 25px);
  }

  .contacts__address {
    @include font();
    width: 160px;
    padding-top: 5px;

    span {
      padding-top: 20px;
    }
  }
}

@media (min-width: $tablet-width) and (max-width: 1299px) {
  .contacts__address {
    text-align: right;

    span {
      margin-left: auto;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts__wrapper {
    position: absolute;
    width: 570px;
    height: 200px;
    padding: 65px 75px;
    top: 95px;
    left: 40px;
    background-color: #ffffff;
    z-index: 1;
  }

  .contacts__invite {
    margin-top: 5px;
  }

  .contacts__address {
    width: 170px;
  }
}
