.extra-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 13px;
  padding-bottom: 17px;
  border-bottom: 1px solid #cdcdcd;
}

.extra-card__title {
  margin: 0;
  margin-bottom: 15px;

  @include font(16px, 16px);
  font-weight: 400;
  text-transform: uppercase;
  color: $darkgrey-color;
}


.extra-card__info {
  min-height: 14px;
  padding: 0;
  margin-bottom: 13px;
  font-family: $ffas;

  @include font(14px, 14px);
  display: flex;
  justify-content: space-between;
}

.extra-card__value {
  text-align: right;
}

.extra-card__field span {
  display: none;
}

@media (min-width: $tablet-width) {
  .extra-card {
    flex-direction: row;
    align-items: baseline;
    padding: 26px 38px 27px;
    border: 1px solid rgba(205, 205, 205, 0.5);

    &:not(:last-child) {
      border-bottom: none;/*or not*/
    }
  }

  .extra-card__title {
    @include font(20px, 20px);
    margin-bottom: 25px;
  }

  .extra-card__info {
    @include font();
    margin-left: auto;
  }

  .extra-card__field span {
    display: inline-block;
  }

  .extra-card__value {
    width: 95px;
  }

  .extra-card__button {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .extra-card {
    padding: 16px 0 15px;
    border-left: none;
    border-right: none;
  }

  .extra-card__title {
    width: 245px;
    margin-bottom: 0;
    margin-right: 80px;
  }

  .extra-card__info {
    width: 285px;
    margin-right: 40px;
    margin-bottom: 0;
  }

  .extra-card__value {
    width: 44px;
    text-align: left;
    margin-left: auto;
  }

  .extra-card__button {
    width: 245px;
  }
}
