.guide {
  padding-top: 18px;
  padding-bottom: 42px;
}

.guide__title {
  margin-bottom: 27px;
}

.guide__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.guide__item {
  position: relative;
  margin-bottom: 20px;
  padding-left: 80px;
  padding-top: 5px;
  min-height: 60px;
  font-family: $ffas;

  @include font(14px, 18px);

  &:last-child {
    margin-bottom: 0;
  }

  & p {
    margin: 0;
  }

  & span {
    display: none;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    content: "";
    background-color: $green-color;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 50px;
  }

  &--matter::before {
    background-image: url("../img/advantage-leaf@1x.png");
  }

  &--powder::before {
    background-image: url("../img/advantage-powder@1x.png");
  }

  &--changing::before {
    background-image: url("../img/advantage-dining@1x.png");
  }

  &--profit::before {
    background-image: url("../img/advantage-clock@1x.png");
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    &--matter::before {
      background-image: url("../img/advantage-leaf@2x.png");
    }

    &--powder::before {
      background-image: url("../img/advantage-powder@2x.png");
    }

    &--changing::before {
      background-image: url("../img/advantage-dining@2x.png");
    }

    &--profit::before {
      background-image: url("../img/advantage-clock@2x.png");
    }
  }
}

@media (min-width: $tablet-width) {
  .guide {
    padding-top: 45px;
    padding-bottom: 0;
  }

  .guide__title {
    margin-bottom: 71px;
  }

  .guide__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .guide__item {
    display: flex;
    width: 324px;
    height: 228px;
    padding-top: 112px;
    padding-left: 0;
    margin-bottom: 89px;

    @include font(16px, 24px);

    &::before {
      width: 80px;
      height: 80px;
    }

    & p {
      width: 76%;
    }

    & span {
      display: block;
      position: absolute;
      margin: 0;
      padding: 0;
      height: 281px;
      top: -38px;
      left: 114px;
      font-family: $ffos;

      @include font(281px, 281px);
      color: $lightgrey-color;
      z-index: -1;
    }

    &:nth-child(n+2) {
      margin-bottom: 60px;
    }
  }
}

@media (min-width: $desktop-width) {
  .guide {
    padding-top: 49px;
  }

  .guide__list {
    /*width: 1220px;*/
  }

  .guide__item {
    width: 245px;
    margin-bottom: 25px;

    &:nth-child(n+2) {
      margin-bottom: 25px;
    }

    & p {
      width: 100%;
    }

    & span {
      left: auto;
      right: 0;
    }

    &:first-child span {
      right: 17px;
    }
  }
}
