.logo {
  display: flex;
  align-items: center;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__image {
  width: 33px;
  height: 38px;
}

.logo__brand {
  width: 100px;
  height: 18px;
  margin-left: 57px;
}

@media (min-width: $tablet-width) {
  .logo__image {
    width: 172.3px;
    height: 57.1px;
  }

  .logo__brand {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .logo__image {
    width: 202px;
    height: 59.5px;
  }
}
