.logo {
  display: flex;
  align-items: center;
  width: 240px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__image {
  width: 33px;
  height: 38px;
}

.logo__brand {
  width: 100px;
  height: 18px;
  margin-left: 57px;

  &--footer {
    width: 127.8px;
    height: 23.4px;
    margin-left: 75px;
  }
}

@media (min-width: $tablet-width) {
  .logo {
    width: 203px;
  }

  .logo__brand {
    width: 84px;
    height: 16px;

    &--footer {
      width: 127.8px;
      height: 23.4px;
      margin-left: 0;
    }
  }
}
