.logo {
  display: flex;
  align-items: center;
  width: 240px;
  outline: 1px solid violet;/*for me*/

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__image {
  width: 33px;
  height: 38px;
}

.logo__brand {
  width: 100px;
  height: 18px;
  margin-left: 57px;
}
