.main-nav {
  border: 1px solid blue;/*for me*/
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid green;/*for me*/
}

.main-nav__item {
  padding: 20px;
  text-align: center;
  border: 1px solid cyan;/*for me*/
}

.main-nav__link {
  @include font(20px, 20px);
  font-weight: 500;
  text-transform: uppercase;
  color: $darkgrey-color;

  &:focus,
  &[href]:hover {
    color: rgba(17, 17, 17, 0.6);
  }

  &[href]:active {
    color: rgba(17, 17, 17, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
  }

  .main-nav__link {
    @include font(18px, 24.86px);/*only tablet!!!*/

    &--active {
      padding-bottom: 4px;
      border-bottom: 2px solid $green-color;/*на мобиле походу нет!!*/
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    min-height: 120px;
  }

  .main-nav__link {
    &--index {
      color: #ffffff;

      &:focus,
      &[href]:hover {
        color: rgba(255, 255, 255, 0.6);
      }

      &[href]:active {
        color: rgba(255, 255, 255, 0.3);
      }
    }
  }

  .main-nav__link--index.main-nav__link--active {
    border-color: #ffffff;
  }
}
