.main-nav {
  position: relative;
  border: 1px solid blue;/*for me*/
}

.main-nav__toggle {
  position: absolute;
  top: -65px;
  right: 0;
  z-index: 1;
  display: block;
  width: 40px;
  height: 65px;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 23px;
  right: 0;
  width: 24px;
  height: 2px;
  background-color: #222222;
  box-shadow:
    0 8px 0 0 #222222,
    0 16px 0 0 #222222;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: $darkgreen-color;
  box-shadow:
    0 8px 0 0 $darkgreen-color,
    0 16px 0 0 $darkgreen-color;
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 30px;
    right: 0;
    width: 24px;
    height: 2px;
    background-color: #222222;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: $darkgreen-color;
  }
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid green;/*for me*/
}

.main-nav__item {
  padding: 20px;
  text-align: center;
  border: 1px solid cyan;/*for me*/
}

.main-nav__link {
  @include font(20px, 20px);
  font-weight: 500;
  text-transform: uppercase;
  color: $darkgrey-color;

  &:focus,
  &[href]:hover {
    color: rgba(17, 17, 17, 0.6);
  }

  &[href]:active {
    color: rgba(17, 17, 17, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
  }

  .main-nav__link {
    @include font(18px, 24.86px);/*only tablet!!!*/

    &--active {
      padding-bottom: 4px;
      border-bottom: 2px solid $green-color;/*на мобиле походу нет!!*/
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    min-height: 120px;
  }

  .main-nav__link {
    &--index {
      color: #ffffff;

      &:focus,
      &[href]:hover {
        color: rgba(255, 255, 255, 0.6);
      }

      &[href]:active {
        color: rgba(255, 255, 255, 0.3);
      }
    }
  }

  .main-nav__link--index.main-nav__link--active {
    border-color: #ffffff;
  }
}
