.page-footer {
  position: relative;
  /*margin: 0;
  padding: 0;*/
  border: 1px solid red;/*for me*/

}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
}

.page-footer__map {
  position: relative;
  height: 0;
  padding-bottom: 400px;
  overflow: hidden;
  visibility: hidden;
}

.page-footer__map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.page-footer__block-group {
  background-color: $lightgrey-color
}

.page-footer__copyright {
  padding: 22px 20px;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__contacts {
    position: absolute;
    top: 100px;
    left: 40px;
  }
}
