.page-header {
  display: flex;
  flex-direction: column;
  outline: 1px solid red;/*for me*/
}

.page-header__logo {
  min-height: 65px;
}

@media (min-width: $tablet-width) {
  .page-header {
    flex-direction: row;
    justify-content: space-between;
  }
}
