.page-footer--inner {
  background-color: $lightgrey-color;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
}

.page-footer__map {
  height: 362px;
  /*background-color: #fcf7ef;
  background-image: url("../img/bg-map--mobile@1x.png");
  background-repeat: no-repeat;
  background-size: 100% auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map--mobile@2x.png");
  }*/
}

.page-footer__block-group {
  background-color: $lightgrey-color;
}

.page-footer__logo {
  align-self: center;
  padding-top: 39px;
  padding-bottom: 27px;
}

.page-footer__social {
  padding: 4px 0 3px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.page-footer__copyright {
  height: 78px;
}

@media (min-width: $tablet-width) {
  .page-footer__map {
    height: 396px;
    /*background-image: url("../img/bg-map-tablet@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
    }*/
  }

  .page-footer__wrapper {
    flex-direction: row;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 31px;
  }

  .page-footer__logo {
    margin-right: 142px;
  }

  .page-footer__social {
    padding-top: 7px;
    border: none;
  }

  .page-footer__copyright {
    padding-top: 40px;
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__contacts {
    position: relative;
  }

  .page-footer__map {
    height: 400px;
    /*background-image: url("../img/bg-map-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.png");
    }*/
  }

  .page-footer__logo {
    margin-right: 400px;
  }

  .page-footer__copyright {
    padding-top: 20px;
    margin-left: auto;
  }
}
