.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 65px;

  &::after {
    position: absolute;
    content: "";
    width: 100vw;
    height: 1px;
    bottom: 0;
    left: 50%;
    margin-left: -50vw;
    background-color: $lightgrey-color;
  }
}

.page-header__logo {
  padding: 12px 0;
}

@media (min-width: $tablet-width) {
  .page-header {
    flex-direction: row;
    justify-content: space-between;

    &::after {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    padding-top: 47px;
  }
}
