.page-header {
  display: flex;
  flex-direction: column;
  border: 1px solid red;/*for me*/
}

@media (min-width: $tablet-width) {
  .page-header {
    flex-direction: row;
    justify-content: space-between;
  }
}
