.promo {
  background-image:
    url("../img/index-background-mobile@1x.jpg"),
    linear-gradient(#63a73a 305px, #ffffff 305px);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 100% auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image:
      url("../img/index-background-mobile@2x.jpg"),
      linear-gradient(#63a73a 305px, #ffffff 305px);
  }
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 26px;
  padding-bottom: 22px;
}

.promo__title {
  margin: 0;
  margin-bottom: 26px;

  @include font(36px, 36px);
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}

.promo__text {
  margin: 0;
  margin-bottom: 28px;

  @include font(14px, 14px);
  text-transform: uppercase;
  color: #ffffff;
}

.promo__image {
  display: block;
  order: 2;
}

.promo__button {
  @include font(14px, 18px);
  padding-top: 11px;
  padding-bottom: 11px;
  order: 1;
}

@media (min-width: $tablet-width) {
  .promo {
    background: none;
  }

  .promo__wrapper {
    align-items: flex-start;
    padding-bottom: 0;
  }

  .promo__title {
    @include font(60px, 60px);
    text-align: left;
    margin-left: 87px;
    margin-bottom: 41px;
    color: $darkgrey-color;
  }

  .promo__text {
    @include font(20px, 20px);
    margin-left: 87px;
    margin-bottom: 44px;
    color: $darkgrey-color;
  }

  .promo__button {
    @include font(20px, 20px);
    margin-left: 89px;
    padding: 16px 0;
    width: 245px;
    z-index: 1;
    order: 0;
  }

  .promo__image {
    line-height: 0;
    align-self: center;
    margin-top: -75px;
  }
}

@media (min-width: $desktop-width) {
  .promo__wrapper {
    position: relative;
    min-height: 576px;
    margin-bottom: 55px;

    &::after {
      position: absolute;
      content: "";
      width: 680px;
      height: 696px;
      background-color: #65a93c;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-size: 100% auto;
      top: -120px;
      left: 53%;
      z-index: -1;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
      }
    }
  }

  .promo__title {
    margin-top: 77px;
    margin-left: 80px;
  }

  .promo__text {
    margin-left: 80px;
    margin-bottom: 52px;
  }

  .promo__button {
    margin-left: 79px;
  }

  .promo__image {
    width: 552px;
    height: auto;
    margin-top: -366px;
    margin-left: 450px;
  }
}
