.promo {
  background-image:
    url("../img/index-background-mobile@1x.jpg"),
    linear-gradient(#63a73a 305px, #ffffff 305px);
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 26px;
  padding-bottom: 22px;
}

.promo__title {
  margin: 0;
  margin-bottom: 26px;

  @include font(36px, 36px);
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}

.promo__text {
  margin: 0;
  margin-bottom: 28px;

  @include font(14px, 14px);
  text-transform: uppercase;
  color: #ffffff;
}

.promo__button {
  @include font(14px, 18px);
}

@media (min-width: $tablet-width) {
  .promo {
    background: none;
  }

  .promo__wrapper {
    align-items: flex-start;
    padding-bottom: 0;
  }

  .promo__title {
    @include font(60px, 60px);
    text-align: left;
    margin-left: 87px;
    margin-bottom: 41px;
    color: $darkgrey-color;
  }

  .promo__text {
    @include font(20px, 20px);
    margin-left: 87px;
    margin-bottom: 44px;
    color: $darkgrey-color;
  }

  .promo__button {
    @include font(20px, 20px);
    margin-left: 89px;
    padding: 16px 0;
    width: 245px;
    z-index: 1;
  }

  .promo__image {
    line-height: 0;
    align-self: center;
    order: 1;
    margin-top: -75px;
  }
}

@media (min-width: $desktop-width) {
  /*.promo {
    background-image:
      linear-gradient(to left, #65a93c 47%, #ffffff 47%);
    background-repeat: no-repeat;
    background-position: 100% 0;
  }*/

  .promo__wrapper {
    position: relative;
    margin-bottom: 92px;

    &::after {
      position: absolute;
      content: "";
      width: 680px;
      height: 696px;
      background: #65a93c url("../img/index-background-desktop@1x.jpg") no-repeat;
      top: -120px;
      left: 53%;
      z-index: -1;
    }
  }

  .promo__title {
    margin-top: 77px;
    margin-left: 80px;
  }

  .promo__text {
    margin-left: 80px;
    margin-bottom: 52px;
  }

  .promo__button {
    margin-left: 79px;
  }

  .promo__image {
    margin-top: -350px;
    margin-left: 240px;
  }
}
