.slider {
  min-height: 320px;
  padding: 0;
  background-color: $lightgrey-color;
}

.slider__images {
  position: relative;
  min-height: 232px;
}

.slider__image {
  position: absolute;
  top: -8px;
  left: 0;
  width: 320px;
  height: auto;

  &--after {
    display: none;
  }
}

.slider__control-wrapper {
  min-height: 88px;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  align-items: baseline;
}

.slider__control {
  @include font();
  text-transform: uppercase;
  cursor: pointer;
}

.slider__scale {
  position: relative;
  margin: 0 17px;
  width: 85px;
  height: 14px;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  background-color: #ffffff;
}

.slider__bar {
  position: absolute;
  top: 3.5px;
  left: 4px;
  width: 38px;
  height: 6px;
  background-color: $green-color;
  border-radius: 5px;
}

@media (min-width: $tablet-width) {
  .slider {
    min-height: 630px;
    background-color: #ffffff;
    background-image: linear-gradient(to right, $lightgrey-color 50%, #eaeaea 50%);
    background-position: 0 169px;
    background-repeat: no-repeat;
  }

  .slider__images {
    margin: 0 auto;
    width: 690px;
    min-height: 517px;
  }

  .slider__image {
    width: 690px;
    height: auto;
    top: 0;

    &--before {
      left: 0;
      clip: rect(0, 340px, 517px, 0);
    }

    &--after {
      display: block;
      left: auto;
      right: 0;
      clip: rect(0, 690px, 517px, 340px);
    }
  }

  .slider__control-wrapper {
    min-height: 60px;
    padding-top: 0;
    align-items: center;
  }

  .slider__control {
    @include font(20px, 20px);
    padding-bottom: 5px;
    border-bottom: 1px dotted rgba(17, 17, 17, 0.23);
  }

  .slider__scale {
    margin: 0 23px;
    width: 428px;
    height: 6px;
    background-color: #dcdcdc;
    border: none;
  }

  .slider__bar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border: 1px solid #cdcdcd;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.15);

    &::after {
      position: absolute;
      content: "";
      width: 9px;
      height: 9px;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $green-color;
    }
  }
}

@media (min-width: $desktop-width) {
  .slider {
    background-position: 0 190px;
  }
}
