.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.social__link {
  display: flex;
  width: 55px;
  height: 55px;
  justify-content: center;
  align-items: center;
}
