$green-color: #68b738;
$darkgreen-color: #5eaa2f;
$darkgrey-color: #111111;
$grey-color: #444444;
$lightgrey-color: #f2f2f2;
$transwhite-color: rgba(#ffffff, 0.3);
$transgrey-color: rgba(#444444, 0.3);
$ffas: "Arial", sans-serif;
